{% extends 'healthpotato/base.html' %}

{% block 'title' %}Log in{% endblock %}

{% block 'body' %}

<h1>🥔 Health Potato</h1>

{% comment %}
Adapted from https://docs.djangoproject.com/en/4.0/topics/auth/default/#django.contrib.auth.views.LoginView
{% endcomment %}


{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    <p>Please log in to see this page.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form }}

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Log in</button>
    </div>

    <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}
