{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Health Potato - {% block 'title' %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'healthpotato/css/bootstrap.min.css' %} ">
        <link rel="stylesheet" href="{% static 'healthpotato/css/healthpotato.css' %} "> </head>
    <body>
        <div class="container">
            {% block 'body' %}{% endblock %}
        </div>

        <script src="{% static 'healthpotato/js/bootstrap.min.js' %}"></script>
    </body>
</html>
